.section {
    padding: 70px 0px 30px 0px;
}

.header {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0px 0px 0px 0px;
}

.header2 {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0px 0px 30px 0px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

.image {
    width: 70%;
}
  

  @media (max-width: 600px) {
    .container {
      display:flex;
      flex-direction: column;
    }
    .image {
        width:100%;
    }
  }


  .imgLeft {
    padding: 0 0 0 0 ;
    @media (max-width: 500px) {
      padding: 0 0px 0 0px;
    }
  }
  
  .imgRight {
    padding: 0 0px 0 50px ;
    display:flex;
    width:100%;
    justify-content: left;
    @media (max-width: 500px) {
      padding: 0 0 0 0px ;
    }
  }

  .product {
    font-weight: 400;
    font-size: 25px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    /* line-height: 46px; */
    letter-spacing: 1px;
    color: #ffffff;
    /* width:50%; */
  }

  .des {
    font-size: 24px;
    padding-bottom: 30px;
  }
